body{
    overflow: hidden;
}

.background img{
    width: 80%;
    height: 100%;
    
}

.background button{
    margin: 20px;
}

.modal-header{
    background-color: seashell;
}

.modal-content{
    background: transparent;
    border: none;
    
}

.modal-body{
    border: none;
}

.img-play{
    margin-top: 22px;
}

.img-play img{
    max-width: 100%;
    width: 280px;
    height: 150px;
    transition: transform 1s;
    
}

.img-play:hover img{
    
    box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.5);
    transition: .5s;
    transform: scale(1.1);

}

.icon-play{
    position: relative;
    top: -50%;
}

.icon-play span i{
    font-size: 60px;
    color: whitesmoke;
    transition:all 0.5s;
}

.icon-play span i:hover{
    color: red;
    cursor: pointer;
}
